<!DOCTYPE html>
<html>
  <head>
    <title><%= user.username %>'s Profile</title>
  </head>
  <body>
    <h1><%= user.username %>'s Profile</h1>
    <p>Name: <%= user.username %></p>
    <p>ID: <%= user._id %></p>
    <p><a href="/">Go back to home</a></p>
  </body>
</html>
