<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
  </head>
  <body>
    <h1><%= user.username %></h1>
    <p>ID: <%= user._id %></p>
    <p><a href="/">Go back to home</a></p>
  </body>
</html>
